nav{
    background: rgba(28, 43, 53, 1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 140px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding-left: 32px;
    font-size: 17px;
}
nav a:hover{
    color: orangered;
}